h1, h2, h3, h4, h5, h6,
                            .blog .yit_post_meta_date span,
                            .numbers-sections .number,
                            div.blog_post .yit_post_date span, a[class^=eg-portfolio-masonry],
                            .piechart span,
                            .widget.yit-recent-posts .recent-post .hentry-post p.post-date .day,
                            .widget_shopping_cart .widget_shopping_cart_content ul.product_list_widget li,
                            .widget_categories ul li span.count, 
                            .widget_product_categories ul li span.count,
                            .widget.woocommerce.widget_layered_nav ul.yith-wcan-list li small.count,
                            .widget.featured-products div.info-featured-product .price,
                            .widget.yit_products_category a span.product_price,
                            .single-product.woocommerce div.product div.summary form.cart ul.variations li .select_option_label span { font-family: 'Open Sans', sans-serif; }body, p, li, address, dd, blockquote, td, th, .blog.single .content-style-social:after, .menu-item .highlight, .menu-item .highlight-inverse  { font-family: 'Open Sans', sans-serif; }.highlight, .numbers-sections h4 span.title-highlight, .dropcap { color: #871818; }.special-font, .special-font a.btn-alternative { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #ffffff; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; }.quote-icon, .testimonial-wrapper .testimonial-cit:before, .testimonials-slider ul.testimonial-content li blockquote p:before { font-size: 80px; font-family: 'Source Sans Pro', sans-serif; color: #e1e1e1; font-style: normal; font-weight: 400; }body, .st-content, .st-content-inner, .stretched-layout .blog.single .content-style-social,
                            .shortcode .content-style-social, .single-product.woocommerce .woocommerce-tabs ul li.active,
                            #customer_login .wp-social-login-widget,
                            .woocommerce .login-form-checkout .wp-social-login-widget,
                            .wpb_content_element .wpb_tabs_nav li.ui-tabs-active,
                            .wpb_content_element.wpb_tabs .ui-tabs > ul li.ui-state-active,
                            .tabs-container ul.tabs li.current { background: #ffffff url(''); }body, .st-content, .st-content-inner { background-repeat: no-repeat; background-position: top left; background-attachment: scroll; }.boxed-layout #wrapper, .boxed-layout .blog.single .content-style-social,
                            #portfolio_nav .prev a[rel=prev], #portfolio_nav .next a[rel=next], #product-nav > a > div, .single-product.woocommerce .woocommerce-tabs ul li.active,
                            #customer_login .wp-social-login-widget,
                            .products_tabs.tabs-container ul.tabs li.current,
                            .woocommerce .login-form-checkout .wp-social-login-widget,
                            .wpb_content_element .wpb_tabs_nav li.ui-tabs-active,
                            .wpb_content_element.wpb_tabs .ui-tabs > ul li.ui-state-active,
                            .tabs-container ul.tabs li.current { background-color: #ffffff; }.tooltip-inner, .product-quick-view-button a.trigger-quick-view, .thumb-wrapper .added-to-cart-icon span,
                             .quick-view-overlay .added-to-cart-icon { font-size: 10px; font-family: 'Open Sans', sans-serif; color: #ffffff; font-style: normal; font-weight: 600; text-align: center; text-transform: uppercase; }.tooltip-inner, .product-quick-view-button a { background-color: #a41103; }.tooltip { border-color: #a41103; }.main-text-color { color: #6d6c6c; }.shade-1 { color: #a41103; }#nav .tooltip .tooltip-inner,
								div.team-member-name span.team-member-name-highlight { background-color: #a41103; }#nav .tooltip .tooltip-arrow { border-top-color: #a41103; }.shade-2,
                             .images-slider-sc .flex-direction-nav li a:hover,
                             .logos-slider.wrapper .nav .prev:hover i:before,
                             .logos-slider.wrapper .nav .next:hover i:before,

                             .logos-slider .nav .next i:hover,
                             #buddypress div#message p, #sitewide-notice p,
                             #buddypress div#message.updated p { color: #ff1800; }.shade-3, .images-slider-sc .flex-direction-nav li a,
                             .widget.featured-products .flex-direction-nav li a,
                             .logos-slider .nav .next i, .yit_post_quote .fa.shade-1 { color: #8c8c8c; }.general-background-color,
                            #comments ol li .information .user-info .is_author,
                            ul.blog_posts li div.blog_post .yit_post_date,
                            #header-search,
                            .testimonials-slider .owl-carousel .owl-controls .owl-nav .owl-prev,
                            .owl-carousel .owl-controls .owl-nav .owl-next,
                            .testimonials-slider .owl-carousel .owl-controls .owl-nav .owl-prev,
                            .owl-carousel .owl-controls .owl-nav .owl-prev,
                            .logos-slider.wrapper .nav .prev,
                            .logos-slider.wrapper .nav .next { background-color: #ffffff; }.woocommerce table.shop_table.order_details tfoot tr:last-child,
                          .woocommerce .cart-collaterals .cart_totals tbody tr.order-total,
                          .yit_post_quote,.yith-ywraq-add-to-quote { border-top-color: #dbd8d8; }.woocommerce table.shop_table.order_details thead,
                          .woocommerce table.shop_table.order_details tbody,
                          .woocommerce table.shop_table.order_details tfoot tr:last-child,
                          #yith-wcwl-form table.shop_table tbody tr,
                          table.my_account_orders tr.order,
                          .yit_post_quote,.list .yith-ywraq-add-to-quote { border-bottom-color: #dbd8d8; }.border,
                          input[type="password"],
                          input[type="text"],
                          input[type="email"],
                          input[type="file"],
                          .woocommerce .sbHolder .sbSelector,
                          textarea,
                          #topbar .whislist_nav,
                          #topbar ul.menu > li,
                          #header .yit_cart_widget,
                          #lang_sel ul li a,
                          #wcml_currency_switcher .sbSelector,
                          .general-pagination a,
                          ul.products li.product .product-wrapper .product-actions-wrapper .yith-wcwl-add-to-wishlist,
                          .footer-extra-row,
                          .widget.widget_recent_entries ul li,
                          .widget.widget_recent_comments ul li,
                          .widget_categories ul li,
                          .widget_archive ul li,
                          .widget_meta ul li,
                          .widget_pages ul li,
                          .widget_nav_menu ul li,
                          .widget_search #s,
                          .widget_categories .sbHolder .sbSelector,
                          .widget_archive .sbHolder .sbSelector,
                          .widget_product_categories ul li,
                          .widget.featured-products .flex-direction-nav li a,
                          .widget_categories > ul li i.icon-minus,
                           .widget_categories > ul li i.icon-plus,
                          .widget_product_categories ul.product-categories li i.icon-minus,
                          .widget_product_categories ul.product-categories li i.icon-plus,
                          .widget_product_categories ul.children,
                          .widget_product_categories ul.product-categories > li,
                          .sbHolder .sbOptions,
                          #wp-calendar caption,
                          .toggle,
                          .toggle .toggle-title span.fa.fa-plus.closed,
                          .toggle .toggle-title span.fa.fa-minus.opened,
                          .newsletter_form_email input.email-field,
                          #header-search .autocomplete-suggestions,
                          .filters li a,
                          .arrow:before, .arrow-down:before,
                          .widget.yit-recent-comments div.comment,
                          #faqs-container .faq-wrapper,
                          .single-product.woocommerce div.product div.summary form.cart,
                          #portfolio_content .portfolio_meta:after,
                          #portfolio_content .the_content.with-border:after,
                          .woocommerce .quantity, .woocommerce-page .quantity,
                          .widget.yit_products ul li,
                          .woocommerce .products-slider-wrapper .es-nav-prev span,
                          .woocommerce .products-slider-wrapper .es-nav-next span,
                          nav.woocommerce-pagination .page-numbers,
                          .contact-form li div.input-prepend input[type=text],
                          .contact-form li div.input-prepend input[type=password],
                          .contact-form li div.input-prepend select,
                          .contact-form li.textarea-field div.input-prepend textarea,
                          .vc_row-fluid.with-border .section-background,
                          .categories-slider-wrapper .es-nav-prev span,
                          .categories-slider-wrapper .es-nav-next span,
                          .woocommerce-message,
                          .woocommerce-error,
                          .woocommerce-info,
                          .woocommerce-info:after,
                          .woocommerce form .form-row a.chosen-single,
                          .show-products.show-products-list ul.products li.product .product-wrapper .product-actions-wrapper .yith-wcwl-add-to-wishlist,
                          #page-meta .woocommerce-ordering .sbToggle,
                          .woocommerce form .chosen-container .chosen-drop,
                          #yith-wcwl-form .yith-wcwl-share,
                          .single-product.woocommerce div.product div.images > a img,
                          .single-product.woocommerce div.product div.images .yith_magnifier_zoom_wrap img,
                          .call-to-action-four-container .incipit,
                          .widget.yith-woo-ajax-navigation ul.yith-wcan-label li a,
                          .widget.yith-woo-ajax-navigation ul.yith-wcan-color li a,
                          .widget.yith-woo-ajax-navigation ul.yith-wcan-label li a:hover,
                          .widget.yith-woo-ajax-navigation ul.yith-wcan-label li.chosen a,
                          .widget.woocommerce.widget_layered_nav ul li small.count,
                          .counter,
                          .show-single-product.border-right,
                          .show-single-product.border-left,
                          .quick-view-overlay.product-quick-view .slider-quick-view-container .es-nav-prev,
                          .quick-view-overlay.product-quick-view .slider-quick-view-container .es-nav-next,
                          .st-menu input[type="search"],
                          .testimonials-slider .owl-carousel .owl-controls .owl-nav .owl-prev,
                          .owl-carousel .owl-controls .owl-nav .owl-next,
                          .testimonials-slider .owl-carousel .owl-controls .owl-nav .owl-prev,
                          .owl-carousel .owl-controls .owl-nav .owl-prev,
                          .widget.woocommerce.widget.yith_woocommerce_ajax_search input[type="search"],
                          #searchform #searchsubmit,.woocommerce-product-search input[type="submit"],
                          .woocommerce-checkout .select2-container .select2-choice,.woocommerce-checkout .select2-drop-active,
                          .woocommerce-cart #calc_shipping_country,.woocommerce-cart #calc_shipping_state,.select2-drop.select2-drop-above.select2-drop-active,
                          .select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices,
                          .select2-drop.select2-drop-above.select2-drop-active { border-color: #dbd8d8; }.border-line-1 { background-color: #dbd8d8; }#xxxxxxx1234 { border-top-color: #f2f2f2; }.nav.vertical div.submenu li,
                          .contact-info ul li,
                          .widget.contact-info ul li,
                          #yith-wcwl-form table.shop_table thead,
                          .woocommerce-page table.shop_table.my_account_orders thead,
                          .wpb_content_element.wpb_tabs .lookbook-wrapper,
                          .counter .number:after,
                          .st-menu ul li { border-bottom-color: #f2f2f2; }.border-2,
                          #header.skin2 #header-container .header-wrapper,
                          #nav > div > ul > li.menu-item,
                          #nav > div > ul > li.page_item,
                          #nav > div > ul > li.search-trigger,
          				  .nav div.submenu,
          				  .nav ul.children,
                          #topbar .widget_nav_menu ul.menu ul.sub-menu,
                          #lang_sel li > ul,
                          #wcml_currency_switcher ul li ul,
            			  #header .sbHolder .sbOptions,
            			  #header-search .search_categories,
            			  .teaser-wrapper,
            			  #header .cart_label,
                          #header .widget_shopping_cart .widget_shopping_cart_content h5.list-title,
                          #header .widget_shopping_cart .widget_shopping_cart_content ul.product_list_widget li,
                          #header-search form,
                          #header-search .sbHolder,
                          #header.skin2 #nav,
                          #header-search .shop-by-category > div.submenu-group,
                          #welcome-menu-login .login-box.with_registration .customer-login-box.customer-login-box1,
                          #welcome-menu-login .login-box.with_registration .customer-login-box.customer-login-box2,
                          .slider-container > .container + .shop-by-category > .submenu,
                          .woocommerce ul.product_list_widget li,
                          .slider-container .shop-by-category > div.submenu-group,
                          .slider-container .shop-by-category > div.submenu-group > div.submenu:last-child,
                           #header-search .shop-by-category > div.submenu-group > div.submenu:last-child,
                          .widget.yit_products_category ul.product_list_widget li,
                          .team-author-innerbox,
                          .team-member-social,
                          .widget.yit_portfolio ul li,
                          .widget_nav_menu > div > ul > li > a,
                          .widget_nav_menu > div > ul > li > a:hover,
                          .widget.yit_toggle_menu ul.menu > li,
                          .widget.yit_toggle_menu ul.menu > li.menu-item-has-children > a:before,
                          .testimonial-wrapper,
                          .arrow-left,
                          .arrow-left:before,
                          .price-table,
                          #primary .sidebar-with-border,
                          .products_tabs.tabs-container > ul,
                          .widget.yit-recent-posts .recent-post.compact .hentry-post p.post-date.border-2,
                          .single-product.woocommerce div.product div.summary p.price:after,
                          .single-product.woocommerce div.product div.summary p.price:before,
                          .single-product.woocommerce div.product div.summary #inquiry-form:before,
                          .single-product.woocommerce div.product div.summary #inquiry-form:after,
                          #show-category-product ul.products li a.product-category-link,
                          .categories-slider ul.products li a.product-category-link,
                          #modal-window:after,
                          #modal-window:before,
                          .yit-vertical-megamenu,
                          .yit-vertical-megamenu .nav > ul > li,
                          .show-category .category-thums a,
                          .show-category .category-products a,
                          .yit-vertical-megamenu h3:after,
                          .single-product.woocommerce .woocommerce-tabs ul,
                          .woocommerce.widget.widget_product_search #searchform,.woocommerce.widget.widget_product_search .woocommerce-product-search,
                          .woocommerce.widget.widget_product_search #searchform #s,.woocommerce.widget.widget_product_search .woocommerce-product-search input[type="search"],
                          #primary .widget.newsletter-form.with-border,
                          .widget.yit-recent-comments .the-post .gravatar-wrapper,
                          .faq-icon.fa.fa-plus.closed,#portfolio_big li .info .portfolio_meta:before,
                          #portfolio_big li .info .portfolio_meta:before,
                          .portfolio_lookbook_title:before,
                          #portfolio_content .lookbook-wrapper:not(:last-child):after,
                          .cta-phone,
                          .cta-phone.call-to-action h3:after,
                          .cta-phone.call-to-action .cta-phone-phone:after,
                          .call-three .newsletter-cta-title:after,
                          .blog_section .yit_post_meta_date,
                          .blog-slider .icon-square,
                          .call-to-action-two .call-to-action-two-container,
                          .call-three .newsletter-cta-form-container,
                          .wpb_content_element.wpb_tabs .wpb_tab,
                          .wpb_content_element.wpb_tabs .ui-tabs > ul,
                          .tabs-container ul.tabs,
                          .tabs-container .panel,
						  .products_tabs.tabs-container .panel,
                          .testimonials-slider { border-color: #f2f2f2; }.border-line-2, .toggle .toggle-title span.fa.fa-minus.opened { background-color: #f2f2f2; }#comments div.comment-meta .product-rating span.star-empty,
                                .woocommerce-product-rating .star-rating:before,
                                .widget.woocommerce .star-rating:before,
                                .testimonial-rating .star-rating:before,
                                .yit_recent_reviews .star-rating:before { color: #b5b4b4; }#comments div.comment-meta .product-rating span.star,
                                .woocommerce-tabs #review_form p.stars a,
                                .woocommerce-product-rating .star-rating span,
                                .widget.woocommerce .star-rating span,
                                .testimonial-rating .star-rating span,
                                .yit_recent_reviews .star-rating span { color: #ffd314; }.color-theme-share, .color-theme-share:link, .color-theme-share:visited, .yith-wcwl-add-to-wishlist a > span,
                                  #list-or-grid a, #number-of-products a, #number-of-products a:after,
                                  #yith-wcwl-form .yith-wcwl-share ul li a,
                                  .single-product.woocommerce div.product div.summary .single-product-other-action .yith-wcwl-add-to-wishlist a > span { color: #b1b1b1; }.color-theme-share:hover,
                                  .color-theme-share:visited,
                                  #list-or-grid a.active, #list-or-grid a:hover,
                                  #number-of-products a.active, #number-of-products a:hover,
                                  #yith-wcwl-form .yith-wcwl-share ul li a:hover,
                                  .single-product.woocommerce div.product div.summary .single-product-other-action .yith-wcwl-add-to-wishlist a:hover > span,
                                  .single-product.woocommerce div.product div.summary .single-product-other-action .yith-wcwl-add-to-wishlist div.yith-wcwl-wishlistaddedbrowse a > span,
                                  .single-product.woocommerce div.product div.summary .single-product-other-action .yith-wcwl-add-to-wishlist div.yith-wcwl-wishlistexistsbrowse a > span { color: #4b4b4b; }a, a:visited, a:link,  .show-category .category-meta a, #welcome-menu-login .lost_password a.signup { color: #a41103; }a:hover, a:active,
                             .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a > span,
                             .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a > span,
                              .show-category .category-meta a:hover,
                             .yith-wcwl-add-to-wishlist:hover a > span,
                             #welcome-menu-login .lost_password a.signup { color: #ff1800; }a.a-style-2, a.a-style-2:visited, a.a-style-2:link,
                              .widget.featured-products .flex-direction-nav li a:hover,
                              #portfolio_big li .info h3.title a,
                              #primary .widget_nav_menu > div > ul > li > a,
                              #primary .widget_nav_menu > div > ul > li > .sub-menu li a,
                              #portfolio_big li .info .categories a[rel=tag],
                              #portfolio_content a[rel=tag],
                              .widget_archive ul li a,
                              .widget.widget_categories ul li a,
                              .widget.widget_pages ul li a,
                              .widget.widget_meta a,
                              .widget_archive .sbHolder a.sbSelector,
                              .widget_categories .sbHolder a.sbSelector,
                              .widget.woocommerce.widget_product_categories ul.sbOptions a,
                              .widget.yit_toggle_menu ul.menu > li a,
                              #recentcomments a,
                              .categories-slider ul.products li a.product-category-link,
                              .widget_product_categories .product-categories a,
                              .widget_archive ul li .sbHolder a.sbSelector,
                              .categories-slider div.category-name h4,
                              #show-category-product ul.products li .category-count-content .count,
                              .yit-vertical-megamenu .nav > ul > li > a,
                              #reviews #reviews_summary .ywar_filter_reviews,
                              .comments-info-wrapper a,
                              .woocommerce-breadcrumb a,
                              .widget.last-tweets .arrow-left .text a,
                              .woocommerce table.shop_table.order_details tr.order_item td a,
                              .single-product.woocommerce div.product div.summary form.cart .reset_variations,
                              table.shop_table.cart td.product-remove a,
                              #reviews #comments .comment-text a.ywar_votereview,
                              #product-nav > a,
                              .yitpopup_wrapper a.close,
                              div.summary .product_meta span a,
                              .sitemap a,
                              .modal-shortcode .modal .modal-header a,
                              .woocommerce .login-form-checkout .lost_password a,
                              .woocommerce ul.variations .sbOptions li a,
                              .widget.woocommerce.widget_layered_nav ul li a,
                              .widget.yith-woo-ajax-reset-navigation a.yith-wcan-reset-navigation,
                              .widget.yith-woocompare-widget a.clear-all,
                              .widget.yith-woocompare-widget ul.products-list li a.remove { color: #6d6c6c; }a.a-style-2:hover, a.a-style-2:active,
                              #header-search .autocomplete-suggestion:hover,
                              #portfolio_big li .info h3.title a:hover, #portfolio_big li .info .categories a[rel=tag]:hover,
                              #portfolio_content a[rel=tag]:hover,
                              .single-product.woocommerce div.woocommerce-tabs ul.tabs li a:hover,
                              .widget.contact-info .contact_info_email:hover p,
                              .contact_info_email:hover p,
                              .comments-info-wrapper a:hover,
                              .yitpopup_wrapper a.close:hover,
                              .modal-shortcode .modal .modal-header a:hover,
                              .tabs-container ul.tabs li.current a, .tabs-container ul.tabs li a:hover,
                              #primary .widget_nav_menu > div > ul > li > a:hover,
                              #primary .widget_nav_menu > div > ul > li > .sub-menu li a:hover,
                              .single-product.woocommerce div.woocommerce-tabs ul.tabs li.active a,
                              .woocommerce form.cart-page .sbHolder ul li a:hover, section.shipping-calculator-form .sbHolder ul li a:hover,
                              #reviews #reviews_summary .ywar_filter_reviews:hover,
                              .woocommerce-breadcrumb a:hover,
                              .widget_archive ul li a.sbSelector:hover,
                              .widget widget_categories ul li a:hover,
                              .lookbook-listed-product .lookbook-information a:hover,
                              .widget.widget_pages ul li a:hover,
                              .widget.yit_products_category ul.product_list_widget a:hover span.product_title,
                              .widget.widget_meta a:hover,
                              .widget_archive .sbHolder a.sbSelector:hover,
                              .widget_categories .sbHolder a.sbSelector:hover,
                              .widget.yit_toggle_menu ul.menu > li > a:hover,
                              .widget.woocommerce.widget_product_categories ul.sbOptions a:hover,
                              .widget_product_categories .product-categories a:hover,
                              .widget.last-tweets .arrow-left .text a:hover,
                              .widget.yit_toggle_menu ul.menu > li a:hover,
                              #show-category-product div.category-name h4:hover,
                              #show-category-product ul.products li .category-count-content .count:hover,
                              .categories-slider ul.products li a.product-category-link:hover,
                              .categories-slider div.category-name h4:hover,
                              .yit-vertical-megamenu .nav > ul > li > a:hover,
                              .comments-info-wrapper a:hover,
                              #recentcomments a:hover,
                              .sitemap a:hover,
                              .widget.yit-recent-posts .recent-post.compact .hentry-post .post-content h3 a.title:hover,
                              .widget.yit-recent-posts .recent-post.compact .hentry-post:hover .post-content h3 a.title,
                              .widget.woocommerce ul.product_list_widget a:hover span.product_title,
                              #page-meta .woocommerce-ordering .sbHolder .sbOptions li a:hover,
                              .woocommerce table.cart td.product-name div.product-name a:hover,
                              .product-meta-wrapper h3.product-name a:hover,
                              .woocommerce table.shop_table.order_details tr.order_item td a:hover,
                              .woocommerce table.shop_table.order_details tfoot tr:last-child th,
                              .woocommerce table.shop_table.order_details tfoot tr:last-child td,
                              .single-product.woocommerce div.product div.summary form.cart .reset_variations:hover,
                              table.shop_table.cart td.product-remove a:hover,
                              .wishlist_table tr td.product-name a:hover,
                              #inquiry-form div.product-inquiry span.inquiry-title:hover,
                              #modal-window .modal-shortcode .modal-opener a:hover,
                              #reviews #comments .comment-text a.ywar_votereview:hover,
                              #reviews #comments .comment-text a.ywar_votereview.ywar_votereview_selected,
                              .single-product.woocommerce div.product div.summary form.cart table.group_table tr td.label a:hover,
                              #product-nav > a:hover,
                              div.summary .product_meta span a:hover,
                              .woocommerce .login-form-checkout .lost_password a:hover,
                              .woocommerce ul.variations .sbOptions li a:hover,
                              .wpb_content_element.wpb_tabs .ui-tabs > ul li a:hover,
                              .wpb_content_element.wpb_tabs .ui-tabs > ul li.ui-state-active a,
                              .widget.woocommerce.widget_layered_nav ul:not( .yith-wcan-label ) li a:hover,
                              .widget.woocommerce.widget_layered_nav ul.yith-wcan-list li.chosen a,
                              .widget.yith-woo-ajax-reset-navigation a.yith-wcan-reset-navigation:hover,
                              .widget.yith-woocompare-widget a.clear-all:hover,
                              .widget.yith-woocompare-widget ul.products-list li a.remove:hover { color: #ba1707; }p, body, time, dt, dd, td, th, address, .counter .text, ul.short li, .testimonial-wrapper .testimonial-smallquote, .woocommerce .sbHolder .sbSelector,
                            .woocommerce form.cart-page .sbHolder ul li a, section.shipping-calculator-form .sbHolder ul li a,
                            .widget.yith-woo-ajax-navigation ul.yith-wcan-label li a { font-size: 13px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }h1,
                              .cta-phone .cta-phone-phone { font-size: 20px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; }h2, .teaser-wrapper .image_banner_text p.title,
            .cta-phone.call-to-action h3 { font-size: 18px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 700; text-align: left; text-transform: uppercase; }h3,
                             .widget.yit-recent-posts .recent-post .hentry-post h3 a.title,
                             .testimonial-wrapper .testimonial-smallquote,
                             .show-category .category-title,
                             .category-meta a,
                             .testimonial-wrapper .testimonial-name .name { font-size: 14px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 700; text-align: left; text-transform: uppercase; }h4,
                              .widget.yit-recent-comments .comments-info-wrapper .author .url,
                              .widget.yit-recent-comments .comments-info-wrapper .author .email,
                              .team-member-role,
                              .blog-section-wrapper ul.blog_posts li div.blog_post .yit_post_meta span.title,
                              .yit-vertical-megamenu h3,
                              .widget.yit_recent_reviews .review-meta-avatar .meta .author { font-size: 13px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 700; text-align: left; text-transform: uppercase; }h5,
                              .widget.yit-recent-posts .recent-post.compact .hentry-post h3 a.title,
                              .widget_recent_entries > ul > li a { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; }h6 { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }.widget h3 { font-size: 15px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 700; text-align: left; text-transform: uppercase; }#header { background-color: #ffffff; background-repeat: no-repeat; background-position: top left; background-attachment: scroll; }#logo #textual { font-size: 36px; font-family: 'Open Sans Condensed', sans-serif; color: #6f6f6f; font-style: normal; font-weight: 300; text-align: left; text-transform: uppercase; }#logo span.title-highlight { font-size: 36px; font-family: 'Open Sans Condensed', sans-serif; color: #422d2d; font-style: normal; font-weight: 800; text-align: left; text-transform: uppercase; }#logo #tagline { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #8c8c8c; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }#logo #tagline span.title-highlight { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }#slogan h1, #slogan h1 span, #slogan h2, #slogan h2 span { font-size: 24px; font-family: 'Open Sans', sans-serif; color: #ffffff; font-style: normal; font-weight: 700; text-align: center; text-transform: uppercase; }#slogan p { font-size: 14px; font-family: 'Open Sans', sans-serif; color: #ffffff; font-style: normal; font-weight: 400; text-align: center; text-transform: none; }#slogan h1 span.title-highlight, #slogan h2 span.title-highlight, #slogan p span.title-highlight, #slogan.yith-checkout-single span.current { color: #871818; }#slogan { background-color: #ffffff; }#topbar, #topbar p, #topbar .nav li a { font-size: 11px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 600; text-align: left; text-transform: uppercase; }#topbar .shortcode-highlight { font-size: 11px; font-family: 'Open Sans', sans-serif; color: #000000; font-style: normal; font-weight: 600; text-align: left; text-transform: uppercase; }#topbar { background-color: #eaeaea; }#topbar a { color: #a41103; }#topbar a:hover { color: #ff1800; }#topnav .nav, .nav > ul > li:after,
                                 #topbar ul.menu li a,
                                 #lang_sel ul li a,
                                 #lang_sel ul li:hover a,
                                 #wcml_currency_switcher .sbSelector,
                                 #wcml_currency_switcher li:hover .sbSelector,
                                 #wcml_currency_switcher ul li ul a { color: #6d6c6c; }#topbar .nav a:hover,
                                 #topbar .nav ul > li:hover > a,
                                 #topbar .nav .current-menu-item > a,
                                 #topbar .nav .current-menu-ancestor > a,
                                 #topbar .nav .current-page-item > a
                                 #topbar ul.menu li:hover a,
                                 #topbar .nav div.submenu li > div.submenu li:hover a,
                                 #topbar-right #lang_sel li > ul > li:hover a,
                                 #wcml_currency_switcher ul li ul li:hover a { color: #ba1707; }.header-nav ul li a { font-size: 14px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; }.header-nav ul li a,
                                 #header-search .shop-by-category .list-trigger,
                                 #header-search .shop-by-category .list-trigger:hover,
                                 #header-search .shop-by-category .list-trigger.noclick:hover,
                                 #header .mobile-menu-trigger a,
                                 #header .mobile-menu-trigger a:hover { color: #6d6c6c; }.header-nav ul li:hover > a,
                                 .header-nav ul li.current_page_item > a,
                                 .header-nav ul li.current-menu-ancestor > a,
                                 .yit-vertical-megamenu .nav > ul > li > a:hover { color: #ba1707; }.nav div.submenu, .slider-container .shop-by-category > div.submenu-group { background-color: #ffffff; }.nav div.submenu ul li a, #header .sbHolder .sbOptions li a { font-size: 11px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; }.nav div.submenu ul li a,
                                 #header .sbHolder .sbOptions li a { color: #6d6c6c; }.nav div.submenu ul li:hover > a,
                                 #header .sbHolder .sbOptions li:hover a,
                                 .nav div.submenu ul li.current_page_item > a,
                                 .nav div.submenu ul li.current-menu-ancestor > a { color: #ba1707; }.nav .bigmenu > .submenu > ul.sub-menu > li > a { font-size: 11px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 700; text-align: left; text-transform: uppercase; color: #422d2d; }.nav .bigmenu div.submenu li>div.submenu li a { font-size: 11px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; color: #6d6c6c; }.nav .bigmenu > .submenu > ul.sub-menu > li:hover > a { color: #422d2d; }.nav .bigmenu div.submenu li>div.submenu li:hover a,
                                 .nav .bigmenu div.submenu li>div.submenu li.current-menu-item a,
                                 .nav .bigmenu div.submenu li>div.submenu li.current_page_item a { color: #ba1707; }#header-search form #s, #header-search form #yith-s, #header-search .widget_product_search .sbSelector, #header-search .widget_product_search .sbToggle, #header .autocomplete-suggestion { font-size: 11px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 600; text-align: left; text-transform: uppercase; }#header-search .autocomplete-suggestion { border-color: #f2f2f2; }.btn-ghost, a.btn-ghost, .price-table div.button-container a.btn-flat, .woocommerce .wishlist_manage_table tfoot button.submit-wishlist-changes { font-size: 11px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 700; text-transform: uppercase; background-color: transparent;  background: transparent; }.btn-ghost, a.btn-ghost, a.btn-ghost.added,
				                 .price-table div.button-container a.btn-flat,
				                 .woocommerce .wishlist_manage_table tfoot button.submit-wishlist-changes,
                                 .btn.btn-ghost i.fa { color: #6d6c6c; }.btn-ghost:hover, a.btn-ghost:hover,
                                .btn.btn-ghost:hover i.fa,
                                .price-table div.button-container a.btn-flat:hover,
                                .woocommerce .wishlist_manage_table tfoot button.submit-wishlist-changes:hover,
                                .btn.btn-ghost i.fa:hover { color: #ffffff; }.btn-ghost, a.btn-ghost, .price-table div.button-container a.btn-flat,
				.woocommerce .wishlist_manage_table tfoot button.submit-wishlist-changes { border-color: #898584; }.btn-ghost:hover, a.btn-ghost:hover, .price-table div.button-container a.btn-flat:hover, .woocommerce .wishlist_manage_table tfoot button.submit-wishlist-changes:hover { border-color: #898584; background-color: #898584;  background: #898584; }.btn-flat-red, a.btn-flat-red, .reply_link .comment-reply-link, .login-form-checkout input.button, #commentform #submit,
			                .wishlist_table .add_to_cart.button,
			                .price-table div.button-container a.btn-alternative,
			                .show-products.show-products-list ul.products li.product.list .product-wrapper .product-actions-wrapper .product-action-button a span,
			                #my-account-content div.woocommerce form p input[type="submit"],
			                .widget.widget_price_filter button[type="submit"],
			                table.compare-list .add-to-cart td a span,
			                .yith-woocompare-widget a.compare.button,
			                .show-single-product ul.products li.product .product-wrapper .product-actions-wrapper.with-wishlist .product-action-button a,
			                div:not( .header-wrapper ) .widget.woocommerce.widget_product_search input[type="submit"],
			                a.wihslist-submit.add_to_wishlist,
                            .woocommerce .yith-wcwl-wishlist-search-form button.wishlist-search-button,
                            .woocommerce .wishlist_manage_table tfoot a.create-new-wishlist,
			                input#place_order,
			                #yith-ywraq-form td.actions input.button,
			                .woocommerce-cart-notice a.button, .my_account_orders td.order-actions a.track-button { font-size: 11px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 700; text-transform: uppercase; }.btn-flat-red, a.btn-flat-red, a.btn-flat-red.added,
                                .reply_link .comment-reply-link, .login-form-checkout input.button, #commentform #submit,
                                .btn.btn-flat-red i.fa, .wishlist_table .add_to_cart.button,
                                .price-table div.button-container a.btn-alternative,
                                .show-products.show-products-list ul.products li.product.list .product-wrapper .product-actions-wrapper .product-action-button a span,
                                #my-account-content div.woocommerce form p input[type="submit"],
                                .widget.widget_price_filter button[type="submit"],
                                table.compare-list .add-to-cart td a span,
                                .yith-woocompare-widget a.compare.button,
                                a.wihslist-submit.add_to_wishlist,
                                .woocommerce .yith-wcwl-wishlist-search-form button.wishlist-search-button,
                                .woocommerce .wishlist_manage_table tfoot a.create-new-wishlist,
                                .show-single-product ul.products li.product .product-wrapper .product-actions-wrapper.with-wishlist .product-action-button a,
                                div:not( .header-wrapper ) .widget.woocommerce.widget_product_search input[type="submit"],
                                input#place_order,
                                #yith-ywraq-form td.actions input.button,
                                .woocommerce-cart-notice a.button, .my_account_orders td.order-actions a.track-button { color: #ffffff; }.btn-flat-red:hover, a.btn-flat-red:hover, .reply_link .comment-reply-link:hover, .login-form-checkout input.button:hover, #commentform #submit:hover,
                                .btn.btn-flat-red:hover i.fa,
                                .btn.btn-flat-red i.fa:hover,
                                .btn-flat-red:focus, .btn-flat-red.focus,
                                .price-table div.button-container a.btn-alternative:hover,
                                .wishlist_table .add_to_cart.button:hover,
                                .show-products.show-products-list ul.products li.product.list .product-wrapper .product-actions-wrapper .product-action-button a:hover span,
                                #my-account-content div.woocommerce form p input[type="submit"]:hover,
                                .widget.widget_price_filter button[type="submit"]:hover,
                                table.compare-list .add-to-cart td a span:hover,
                                .yith-woocompare-widget a.compare.button:hover,
                                a.wihslist-submit.add_to_wishlist,
                                .woocommerce .yith-wcwl-wishlist-search-form button.wishlist-search-button:hover,
                                .woocommerce .wishlist_manage_table tfoot a.create-new-wishlist:hover,
                                .yes-js .yith-wcwl-popup-content a.wihslist-submit.add_to_wishlist:hover,
                                .show-single-product ul.products li.product .product-wrapper .product-actions-wrapper.with-wishlist .product-action-button a:hover,
                                div:not( .header-wrapper ) .widget.woocommerce.widget_product_search input[type="submit"]:hover,
                                input#place_order:hover,input#place_order:focus,
                                #yith-ywraq-form td.actions input.button:hover,
                                .woocommerce-cart-notice a.button:hover, .my_account_orders td.order-actions a.track-button:hover { color: #ffffff; }.btn-flat-red, a.btn-flat-red, .reply_link .comment-reply-link, .login-form-checkout input.button, #commentform #submit,
                                 .wishlist_table .add_to_cart.button,
                                 .price-table div.button-container a.btn-alternative,
                                 .show-products.show-products-list ul.products li.product.list .product-wrapper .product-actions-wrapper .product-action-button,
                                 #my-account-content div.woocommerce form p input[type="submit"],
                                 .widget.widget_price_filter button[type="submit"],
                                 table.compare-list .add-to-cart td a span,
                                 .yith-woocompare-widget a.compare.button,
                                 a.wihslist-submit.add_to_wishlist,
                                .woocommerce .yith-wcwl-wishlist-search-form button.wishlist-search-button,
                                .woocommerce .wishlist_manage_table tfoot a.create-new-wishlist,
                                 .show-single-product ul.products li.product .product-wrapper .product-actions-wrapper.with-wishlist .product-action-button a,
                                 div:not( .header-wrapper ) .widget.woocommerce.widget_product_search input[type="submit"],
                                 input#place_order,
                                 #yith-ywraq-form td.actions input.button,
                                 .woocommerce-cart-notice a.button, .my_account_orders td.order-actions a.track-button { border-color: #a12418; }.btn-flat-red:hover, a.btn-flat-red:hover, .reply_link .comment-reply-link:hover, .login-form-checkout input.button:hover, #commentform #submit:hover,
				                .wishlist_table .add_to_cart.button:hover,
				                .price-table div.button-container a.btn-alternative:hover,
				                .show-products.show-products-list ul.products li.product.list .product-wrapper .product-actions-wrapper .product-action-button:hover,
				                #my-account-content div.woocommerce form p input[type="submit"]:hover,
				                .widget.widget_price_filter button[type="submit"]:hover,
				                table.compare-list .add-to-cart td a span:hover,
				                .yes-js .yith-wcwl-popup-content a.wihslist-submit.add_to_wishlist:hover,
				                .yith-woocompare-widget a.compare.button:hover,
				                .show-single-product ul.products li.product .product-wrapper .product-actions-wrapper.with-wishlist .product-action-button a:hover,
				                div:not( .header-wrapper ) .widget.woocommerce.widget_product_search input[type="submit"]:hover,
				                input#place_order:hover,
				                #yith-ywraq-form td.actions input.button:hover,
				                .woocommerce-cart-notice a.button:hover, .my_account_orders td.order-actions a.track-button:hover { border-color: #ae4a14; }.btn-flat-red, a.btn-flat-red, .reply_link .comment-reply-link, .login-form-checkout input.button, #commentform #submit,
				                 .wishlist_table .add_to_cart.button,
				                 .price-table div.button-container a.btn-alternative,
				                 .show-products.show-products-list ul.products li.product.list .product-wrapper .product-actions-wrapper .product-action-button,
				                 #my-account-content div.woocommerce form p input[type="submit"],
				                 .widget.widget_price_filter button[type="submit"],
				                 table.compare-list .add-to-cart td a span,
				                 .yith-woocompare-widget a.compare.button,
				                 a.wihslist-submit.add_to_wishlist,
                                .woocommerce .yith-wcwl-wishlist-search-form button.wishlist-search-button,
                                .woocommerce .wishlist_manage_table tfoot a.create-new-wishlist
				                 .show-single-product ul.products li.product .product-wrapper .product-actions-wrapper.with-wishlist .product-action-button,
				                 div:not( .header-wrapper ) .widget.woocommerce.widget_product_search input[type="submit"],
				                 input#place_order,
				                 #yith-ywraq-form td.actions input.button,
				                 .woocommerce-cart-notice a.button, .my_account_orders td.order-actions a.track-button { background-color: #a12418;  background: #a12418; }.btn-flat-red:hover, a.btn-flat-red:hover, .reply_link .comment-reply-link:hover, .login-form-checkout input.button:hover, #commentform #submit:hover,
				                .wishlist_table .add_to_cart.button:hover,
				                .price-table div.button-container a.btn-alternative:hover,
				                .show-products.show-products-list ul.products li.product.list .product-wrapper .product-actions-wrapper .product-action-button:hover,
				                #my-account-content div.woocommerce form p input[type="submit"]:hover,
				                .widget.widget_price_filter button[type="submit"]:hover,
				                table.compare-list .add-to-cart td a span:hover,
				                .yith-woocompare-widget a.compare.button:hover,
				                a.wihslist-submit.add_to_wishlist,
                                .woocommerce .yith-wcwl-wishlist-search-form button.wishlist-search-button:hover,
                                .woocommerce .wishlist_manage_table tfoot a.create-new-wishlist:hover,
				                .show-single-product ul.products li.product .product-wrapper .product-actions-wrapper.with-wishlist .product-action-button:hover,
				                div:not( .header-wrapper ) .widget.woocommerce.widget_product_search input[type="submit"]:hover,
				                input#place_order:hover,
				                #yith-ywraq-form td.actions input.button:hover,
				                .woocommerce-cart-notice a.button:hover, .my_account_orders td.order-actions a.track-button:hover { background-color: #ae4a14;  background: #ae4a14; }.btn-flat-orange, a.btn-flat-orange,
			                 .widget .searchform #searchsubmit,
			                 .woocommerce.widget.widget_product_search #searchform #searchsubmit,.woocommerce.widget.widget_product_search .woocommerce-product-search input[type="submit"] { font-size: 11px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 700; text-transform: uppercase; }.btn-flat-orange, a.btn-flat-orange, a.btn-flat-orange.added,
                                .woocommerce.widget.widget_product_search #searchform #searchsubmit,.woocommerce.widget.widget_product_search .woocommerce-product-search input[type="submit"],
				                .widget .searchform #searchsubmit,
                                .btn.btn-flat-orange i.fa { color: #ffffff; }.btn-flat-orange:hover, a.btn-flat-orange:hover,
				                .widget .searchform #searchsubmit:hover,
				                .woocommerce.widget.widget_product_search #searchform #searchsubmit:hover,.woocommerce.widget.widget_product_search .woocommerce-product-search input[type="submit"]:hover,
                                .btn.btn-flat-orange:hover i.fa,
                                .btn.btn-flat-orange i.fa:hover { color: #ffffff; }.btn-flat-orange, a.btn-flat-orange, .woocommerce.widget.widget_product_search #searchform #searchsubmit,.woocommerce.widget.widget_product_search .woocommerce-product-search input[type="submit"],
				                 .widget .searchform #searchsubmit { border-color: #da8207; }.btn-flat-orange:hover, a.btn-flat-orange:hover, .woocommerce.widget.widget_product_search #searchform #searchsubmit:hover,.woocommerce.widget.widget_product_search .woocommerce-product-search input[type="submit"]:hover,
				                 .widget .searchform #searchsubmit:hover { border-color: #ae4a14; background-color: #ae4a14;  background: #ae4a14; }.btn-flat-orange, a.btn-flat-orange, .woocommerce.widget.widget_product_search #searchform #searchsubmit,.woocommerce.widget.widget_product_search .woocommerce-product-search input[type="submit"],
                                 .widget .searchform #searchsubmit { background-color: #da8207;  background: #da8207; }.error-404-text { font-size: 14px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 400; text-align: center; text-transform: none; }#faqs-container .faq-wrapper .faq-title h4, .filters li a { font-size: 13px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 600; text-align: left; text-transform: uppercase; }.blog h3.post-title a,
                            .share-container .share-text,
                            #portfolio_big li .info h3.title a { font-size: 18px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 600; text-align: center; text-transform: uppercase; }.blog h3.post-title a,
                                 .blog h2.quote-title a,
                                 .blog_section.post_meta .title a,
                                 #portfolio_big li .info h3.title a,
                                 .cta-phone.call-to-action .cta-phone-phone,
                                 #portfolio_nav .title h1.portfolios-title { color: #454545; }.blog h3.post-title a:hover,
                                 .blog h2.quote-title a:hover,
                                 .blog_section.post_meta .title a:hover,
                                 #portfolio_big li .info h3.title a:hover { color: #871818; }.blog .yit_post_meta,
                            .yit_shortcodes.recent-post .blog .yit_post_meta,
                            .yit_shortcodes.recent-post .yit_post_meta span.author,
                            .yit_shortcodes.recent-post span.author a,
                            .widget.yit-recent-posts .recent-post span.author,
                            .widget.yit-recent-posts .recent-post span.author a,
                            .widget.yit-recent-posts .recent-post span.num-comments,
                            .widget.yit-recent-posts .recent-post span.num-comments a,
                            .widget.yit-recent-posts .recent-post span.num-comments,
                            .blog_section.post_meta .info { font-size: 9px; font-family: 'Open Sans', sans-serif; color: #5b5a5a; text-align: left; text-transform: uppercase; }.blog .yit_post_meta a:not(.social-icon),
                                .blog .yit_post_meta a:visited:not(.social-icon),
                                #portfolio_small li .info .categories a[rel=tag],
                                .blog_section.post_meta .info a { color: #6b6868; }.blog .yit_post_meta a:hover:not(.social-icon),
                                 .blog .yit_post_meta a:active:not(.social-icon),
                                 #portfolio_small li .info .categories a[rel=tag]:hover,
                                 .blog_section.post_meta .info a:hover { color: #871818; }.blog .yit_post_content p { font-size: 13px; font-family: 'Open Sans', sans-serif; color: #7b7b7b; font-style: normal; font-weight: 500; text-align: left; text-transform: none; }.blog .yit_post_meta_date.normal,
                                .blog_section .yit_post_meta_date { background-color: #ffffff; }.blog .yit_post_meta_date.normal .day,
                                 .widget.yit-recent-posts .recent-post .hentry-post p.post-date .day,
                                 .blog .yit_post_meta_date.normal .day,
                                 .blog_section .yit_post_meta_date .day { color: #6d6c6c; }.blog .yit_post_meta_date.normal .month,
                                 .widget.yit-recent-posts .recent-post .hentry-post p.post-date .month,
                                 .blog .yit_post_meta_date.normal .month,
                                 .blog_section .yit_post_meta_date .month { color: #6d6c6c; }.blog .yit_post_meta_date.alternative .day,
                                 .widget.yit-recent-posts .recent-post .hentry-post p.post-date.alternative .day,
                                 .blog_section .yit_post_meta_date.alternative .day { background-color: #040404; }.blog .yit_post_meta_date.alternative .month,
                                 .widget.yit-recent-posts .recent-post .hentry-post p.post-date.alternative .month,
                                 .blog_section  .yit_post_meta_date.alternative .month { background-color: #c11200; color: #ffffff; }.blog .yit_post_meta_date.alternative .day,
                                 .widget.yit-recent-posts .recent-post .hentry-post p.post-date.alternative .day,
                                 .blog_section  .yit_post_meta_date.alternative .day { color: #ffffff; }.reply_link, #commentform .logged-in-as a, .comment-navigation .nav-previous a, .comment-navigation .nav-next a { font-size: 14px; font-family: 'Open Sans', sans-serif; color: #626262; font-style: normal; font-weight: 400; text-transform: uppercase; }.general-pagination, .woocommerce-pagination { font-size: 14px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 400; text-align: right; }.general-pagination a, .woocommerce-pagination a { color: #6d6c6c; }.general-pagination a:hover, #commentform .logged-in-as a:hover, .comment-navigation .nav-previous a:hover, .comment-navigation .nav-next a:hover,
                                 .woocommerce-pagination a:hover { color: #6d6c6c; }.general-pagination a.selected, .general-pagination a:hover.selected, .woocommerce-pagination span { color: #6d6c6c; }.general-pagination a { background-color: #ffffff; }.general-pagination a:hover { background-color: #ffffff; }.general-pagination a.selected { background-color: #ffffff; }#footer a { color: #626262; }#footer a:hover { color: #ba1707; }#copyright p, #copyright ul li a { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #7b7b7b; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }#copyright a, #copyright ul li a, #copyright ul.level-1 li::after { color: #6d6c6c; }#copyright a:hover, #copyright ul li a:hover { color: #ba1707; }#footer h3 { font-size: 14px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 700; text-align: left; text-transform: uppercase; }#footer .border { border-top-color: #f1f1f1; }#footer { background-color: #f1f1f1; background-repeat: no-repeat; background-position: top left; background-attachment: scroll; }#copyright { background-color: #f1f1f1; }#back-top a, #back-top a:hover { font-size: 13px; font-family: 'Open Sans', sans-serif; color: #ffffff; font-style: normal; font-weight: 300; text-align: center; text-transform: uppercase; }#back-top { background-color: #454545; }#back-top:hover { background-color: #871818; }.single-product.woocommerce div.product div.summary form.cart,
                                #review-order-wrapper,
                                .woocommerce .coupon-form-checkout,
                                .woocommerce .login-form-checkout,
                                .woocommerce ul.order_info,
                                #review_form_wrapper #review_form,
                                #customer_login form.login { background-color: #fafafa; }.woocommerce div.product .stock,
                             .woocommerce-page div.product .stock,
                             .wishlist_table tr td.product-stock-status span.wishlist-in-stock { color: #85ad74; }.product-meta-wrapper h3.product-name,
                             .product-meta-wrapper h3.product-name a,
                             #product-nav > a h5,
                             .woocommerce table.cart td.product-name div.product-name a,
                             .widget.woocommerce ul.product_list_widget a .product_title,
                             .widget.featured-products div.info-featured-product .product_name,
                             .wishlist_table tr td.product-name a,
                             .added-to-cart-popup .added_to_cart h3.product-name,
                             .widget.yit_products_category ul.product_list_widget a .product_title,
                             .lookbook-listed-product .lookbook-information a,
                             .single-product.woocommerce div.product div.summary form.cart table.group_table tr td.label a,
                             .widget.yith-woocompare-widget ul.products-list li a { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 600; text-align: center; text-transform: uppercase; }.product-meta-wrapper .price,
                             .widget.woocommerce ul.product_list_widget span.product_price,
                             .widget.featured-products div.info-featured-product .price,
                             #yith-wcwl-form table.shop_table td.product-price,
                             .lookbook-listed-product .lookbook-information .lookbook-product-price,
                             .single-product.woocommerce div.product div.summary table.group_table .price { font-size: 14px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 800; text-align: center; text-transform: none; }ul.products li.product .product-wrapper .product-actions-wrapper .product-action-button a,
                             ul.products li.product .product-wrapper .product-actions-wrapper .product-action-button span,
                             .woocommerce .yith-ywraq-add-button .add-request-quote-button.button,.yith_ywraq_add_item_response_message,.yith_ywraq_add_item_browse_message { font-size: 10px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 700; text-align: center; text-transform: uppercase; }ul.products li.product .product-wrapper .product-actions-wrapper .product-action-button a,
                                 .woocommerce .yith-ywraq-add-button .add-request-quote-button.button,.yith_ywraq_add_item_response_message,.yith_ywraq_add_item_response_message { color: #6d6c6c; }ul.products li.product .product-wrapper .product-actions-wrapper .product-action-button a:hover,
                                  .woocommerce .yith-ywraq-add-button .add-request-quote-button.button:hover,.yith_ywraq_add_item_response_message:hover,.yith_ywraq_add_item_response_message:hover { color: #ba1707; }ul.products li.product .product-wrapper .product-actions-wrapper .product-action-button { background-color: transparent; border-color: #f2f2f2; }#list-or-grid span, #number-of-products span,
                            #page-meta form.woocommerce-ordering .sbHolder .sbSelector,
                            #header-search .search_categories,
                            #page-meta .woocommerce-ordering .sbHolder .sbOptions li a { font-size: 11px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 600; text-align: left; text-transform: uppercase; }.woocommerce-info, .woocommerce-message, .woocommerce-error li, .login-form-checkout > p, .coupon-form-checkout > p { font-size: 13px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 600; text-align: left; text-transform: none; }ul.products li.product .product-wrapper .product-actions-wrapper .product-action-button span.out-of-stock { color: #ff1800; }.single-product.woocommerce div.product div.summary h1,
                             .single-product.woocommerce div.product div.product-title-section h1 { font-size: 22px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 700; text-align: left; text-transform: uppercase; }.single-product.woocommerce div.product div.summary .price, .woocommerce.sc_add_to_cart .sc_add_to_cart_price .amount { font-size: 18px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 700; text-align: left; text-transform: none; }.single-product.woocommerce div.product div.summary form.cart h4,
                            .single-product.woocommerce div.product form.cart ul.variations label,
                            .share-link-wrapper .share-label,
                            div.summary.entry-summary form.variations_form.cart .single_variation_wrap h4,
                            div.product-inquiry span.inquiry-title,
                            #modal-window .modal-opener a { font-size: 13px; font-family: 'Open Sans', sans-serif; color: #5b5a5a; font-style: normal; font-weight: 700; text-align: left; text-transform: uppercase; }.single-product.woocommerce div.woocommerce-tabs ul.tabs li a,
                             .tabs-container ul.tabs li a,
                             .wpb_content_element.wpb_tabs .ui-tabs > ul li a { font-size: 14px; font-family: 'Open Sans', sans-serif; color: #a5a5a5; font-style: normal; font-weight: 600; text-align: center; text-transform: uppercase; }.single-product.woocommerce div.product div.summary p.stock.out-of-stock { color: #6d6c6c; }#my-account-sidebar ul li > a { font-size: 13px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; color: #9c9c9c; }#my-account-sidebar ul li > a:hover,
                                  #my-account-sidebar ul li > a.active { color: #0e0d0d; }#my-account-content h2,
                             #my-account-sidebar .user-profile span.username { font-size: 15px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 700; text-align: left; text-transform: uppercase; }.widget.woocommerce ul.product_list_widget a span.product_price,
                            .single-product.woocommerce ul.product_list_widget a span.product_price,
                             .widget.yit_products_category a span.product_price { font-size: 14px; font-family: 'Open Sans', sans-serif; color: #939393; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }#header .widget_shopping_cart .widget_shopping_cart_content h5.list-title, #header .widget_shopping_cart .widget_shopping_cart_content p.total,
            .widget_shopping_cart .widget_shopping_cart_content .total span { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #422d2d; font-style: normal; font-weight: 700; text-align: left; text-transform: uppercase; }
                .woocommerce #header-sidebar > div.yit_cart_widget .product_list_widget .mini-cart-item-info a,
                #header-sidebar > div.yit_cart_widget .product_list_widget .mini-cart-item-info a,
                .widget_shopping_cart .widget_shopping_cart_content .mini-cart-item-info a:visited,
                div.yit_cart_widget .product_list_widget .mini-cart-item-info a,
                .widget_shopping_cart .widget_shopping_cart_content .mini-cart-item-info a,
                .woocommerce #header-sidebar > div.yit_cart_widget .product_list_widget .mini-cart-item-info .subtotal,
                #header .widget_shopping_cart .widget_shopping_cart_content .total span.amount,
                .widget_shopping_cart .widget_shopping_cart_content a.remove,
                .widget.woocommerce.widget_recent_reviews ul.product_list_widget li a,
                #header-sidebar > div.yit_cart_widget .product_list_widget .mini-cart-item-info .subtotal { color: #6d6c6c; }
                .woocommerce #header-sidebar > div.yit_cart_widget .product_list_widget .mini-cart-item-info a:hover,
                #header-sidebar > div.yit_cart_widget .product_list_widget .mini-cart-item-info a:hover,
                div.yit_cart_widget .product_list_widget .mini-cart-item-info a:hover,
                .widget.woocommerce.widget_recent_reviews ul.product_list_widget li a:hover,
                .widget_shopping_cart .widget_shopping_cart_content a.remove:hover { color: #ba1707; }.woocommerce #header-sidebar .yit_cart_widget .cart_wrapper .widget_shopping_cart_content, #header-sidebar .yit_cart_widget .cart_wrapper .widget_shopping_cart_content { border-color: #dbd8d8; background: #ffffff; }#loginform label { font-size: 13px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 400; text-transform: none; }#loginform .forgetmenot label,
                            #loginform input[type="text"],
                            #loginform input[type="password"],
                            wp-social-login-connect-with { font-size: 13px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 400; }.login .button-primary { font-size: 13px; font-family: 'Open Sans', sans-serif; color: #ffffff; font-style: normal; font-weight: 700; text-transform: uppercase; background-color: #a12418; border-color: #a12418; }.login .button-primary:hover { background-color: #ae4a14; border-color: #ae4a14; }.login #nav a { font-size: 11px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 800; text-transform: none; }.login #backtoblog a { font-size: 11px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 800; text-transform: none; }